
<!-- <div class="image" style="height: 600px;"></div>  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Carnivals Hotel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about-us">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/userdashboard">User-Dashbord</a>
        </li>

        
        

      </ul>
    </div>
  </div>
</nav>



<!-- <img src="../assets/images/hotelImg1.jpg" alt="" width="1500" height="800"> -->

<!-- <app-receptionist-dashboard></app-receptionist-dashboard>  -->



<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Book-My-Trip</h1>
      <p class="lead text-muted">Lets Travel!!</p>
      <p>  </p>
    </div>
  </section>

  

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
            <img src="assets/images/hotelImg1.jpg" class="card-img-top" alt="...">
                </div>
          </div>
        </div>

       
          
        <div class="Container" id="footer"
        style="color:rgb(248, 247, 247); text-align: center;  background-color: #3f51b5; padding: 10px;">
        <footer><strong>Hotel Management System - Contact:- hotel012000@manage.in</strong>
        </footer>
    </div>

