<br>
<h5 class="modal-title mb-3 ps-4" id="exampleModalLabel">Room Details</h5>
<br>
 <div class="row">
            <div class="col-5">
            <form #form="ngForm" (ngSubmit)="addRoom()">
                <div class="mb-3 ps-4">
                  <label for="room_rate">Room_rate :</label>
                  <input type="number"  class="form-control" id="room_rate" name="room_rate" [(ngModel)]="addRoomRequest.room_rate" >
                  
                </div>
                
                <div class="mb-3 ps-4">
                  <label for="room_status">Room_status : :</label>
                  <input type="boolean"  class="form-control" id="room_status" name="room_status" [(ngModel)]="addRoomRequest.room_status" >
                </div>
                
                  <br>
                  <div class="mb-3 ps-4">
                  <button type="submit" class="btn btn-primary mt-2 mr-2">Add</button>

                  <button type="button" class="btn btn-secondary mt-2 mr-2" data-bs-dismiss="close" routerLink="/room">Close</button>
                 </div>
                </form>
            </div>
        </div>
        <br>
       
          
        
